---
- name: install docker
  hosts: aws_ec2
  become: yes
  roles:
    - docker_setup

- name: Send and execute stop_rm_containers
  hosts: aws_ec2
  tasks:
    - name: Copy bash script to remote hosts
      copy:
        src: /home/ec2-user/ansible/stop_rm_containers.sh
        dest: /home/ec2-user/stop_rm_containers.sh
        mode: '0775'

